# Ignore the build and lib dirs
build
dep/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store 

# Ignore valgrind dumps
vgcore.*

# Ignore OpenJDK classes
java/*

# Ignore Class Files
test/*.class

# Ignore test outputs
test/*.out

.vscode/*